<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Wiggum' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>5e48e11a-885f-4e3f-bb20-c4bb0639e418</InstrumentationKey>
</ApplicationInsights>